{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pl.js"></script>
    <title>Lekarze</title>
</head>
<body>
    <header>
        <h1>Przystojni lekarze w twojej okolicy</h1>
        <p>Witaj, {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button>Wyloguj się</button>
        </form>
    </header>
    <main>
        <section>
            <h3>Dostępni lekarze</h3>
            <input id="search" placeholder="Znajdź lekarza...">
            <div id="doctor-list">
                Ładowanie...
            </div>
        </section>
        <aside>
            <h3>Moje wizyty</h3>
            <div id="appointment-list">
                Ładowanie...
            </div>
        </aside>
    </main>
    <footer>
        Made with &#10084;&#65039; and &#9749; by Jan Kropiwnicki
    </footer>

    <div id="dialog">
        <div class="body">
            <header>
                <h3></h3>
                <button>&times;</button>
            </header>
            <main>

            </main>
        </div>
    </div>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>